/* //Mammbo © 2015 */




section {
	padding: 1em 2em 5em;
	text-align: center;
	font-size: 1.5em;
}

section p {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px 0;
}

.btn {
  width: 371px;
  height: 75px;
  padding: 0.5rem 0.875rem;
  font-size: 1rem;
  line-height: 1.3125;
  color: #fff;
  display: inline-block;
  border: 1px solid transparent;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-appearance: none;
}

.btn-white,
button.btn-white {
  color: #fff;
  background-color: rgb(42, 197, 108);
  border-color: rgb(42, 197, 108);
  text-shadow: none;
  text-decoration: none;
  -webkit-box-shadow: 2px 4px 3px rgb(42, 197, 108);
  -moz-box-shadow:  2px 4px 3px rgb(42, 197, 108);
  box-shadow: 2px 4px 3px rgb(42, 197, 108));
  top: 0;
  position: relative;
}

.btn-white:hover,
button.btn-white:hover {
  background-color: rgb(42, 197, 108);
  border-color: #fff;
}

.btn-white:hover,
button.btn-white:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: rgb(42, 197, 108);
  top: -1px;
  -webkit-box-shadow:  rgba(101,141,23, 1);
  -moz-box-shadow:  2px 4px 3px rgba(101,141,23, 1);
  box-shadow: 0 0 0 rgba(101,141,23, 1);
}

.butn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.butn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button */

.btn-general {
	background: rgb(42, 197, 108);
	color: #fff;
	box-shadow: 0 6px #008F3E;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

/* Button 2a */
.btn-specific {
	border-radius: 0 0 4px 4px;
}

.btn-specific:hover {
	box-shadow: 0 4px #008F3E;
	top: 2px;
}

.btn-specific:active {
	box-shadow: 0 0 #008F3E;
	top: 6px;
}

.related > a {
	border: 1px solid #99cc33;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	color: #99cc33;
	opacity: 0.8;
	-webkit-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
	-webkit-backface-visibility: hidden;
}

.related a:hover {
	border-color: #82b222;
	color: #82b222;
}

.related a img {
	max-width: 100%;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
	font-size: 65%;
	font-weight: 400;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

@media screen and (max-width: 25em) {
	.codrops-icon span {
		display: none;
	}
}